<div class="container-fluid">
    <div class="mode-btn-wrapper">
        <button type="button" ng-click="vm.mode = 'knowledge1'" class="btn btn-primary mode-btn">Knowledge (step 1)
        </button>
        <button type="button" ng-click="vm.mode = 'knowledge2'; vm.createMatrix();" class="btn btn-primary mode-btn">
            Knowledge (step 2)
        </button>
        <button type="button" ng-click="vm.mode = 'solving'; vm.startSolving();" class="btn btn-primary mode-btn">problem solving mode
        </button>
    </div>

    <div class="content" ng-if="vm.mode === 'knowledge1'">
        <label class="primary" for="number_of_characteristics">Enter the number of characteristics:
            <input type="number" class="form-control" id="number_of_characteristics" ng-model="vm.numberOfChars"
                   ng-keyup="vm.setCharsArr()" placeholder="Number of characteristics">
        </label>

        <label ng-repeat="characteristic in vm.charsNumberArr"
               for="number_of_characteristics">{{"Enter the characteristic number " + ($index + 1) + ":"}}
            <input type="text" class="form-control" ng-model="vm.charsArr[$index]"
                   placeholder="{{'Characteristic number ' + ($index + 1)}}">
        </label>

        <hr>

        <label class="primary" for="number_of_characteristics">Enter the number of objects:
            <input type="text" class="form-control" ng-model="vm.numberOfObjects" ng-keyup="vm.setObjectsArr()"
                   placeholder="Number of objects">
        </label>

        <label ng-repeat="object in vm.objectsNumberArr"
               for="number_of_characteristics">{{"Enter the object number " + ($index + 1) + ":"}}
            <input type="text" class="form-control" ng-model="vm.objectsArr[$index]"
                   placeholder="{{'Object number ' + ($index + 1)}}">
        </label>

        <hr>

    </div>

    <div class="content" ng-if="vm.mode === 'knowledge2'">
        <div ng-repeat="char in vm.charsArr" style="display: flex; flex-direction: column">
            <form ng-repeat="object in vm.objectsArr">
                <h4>{{"Does the " + object + " has " + char + "?"}}</h4>
                <div>
                    <label style="margin: 10px">Yes
                    <input style="width: 30px; height: 30px; cursor: pointer" ng-change="vm.show()" type="radio" ng-model="vm.matrix[$parent.$index][$index]"
                           name="contact" value="1">
                    </label>
                    <label style="margin: 10px">No
                    <input style="width: 30px; height: 30px; cursor: pointer" ng-change="vm.show()" type="radio" ng-model="vm.matrix[$parent.$index][$index]"
                           name="contact" value="0">
                    </label>
                </div>

                <hr>

            </form>
        </div>
    </div>
</div>

